.project
.classpath
/.gradle/
/.settings/
/build/
/logs/
/bin/
/*/.gradle/
/*/build/
/*/logs/
/*/bin/
/*/.settings/
/*/.project
/*/.classpath
**/.idea/
**/.gradle/
**/build/
**/logs/
**/bin/
**/.settings/
**/.project
**/.classpath
/*/dist/
!acio-pad/build
.bpmn/
/acio-app-vue/node_modules/